@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 
    <h1><img src="~/Assets/bfu_logo.png" style="height:2em" />Burgas Free University</h1>
    <h1>Stoycho Stankov fn:23344001</h1>

    <div class="center-vertical-container justify-content-center" style="height: 200px;">
        <h2>Fluffy Duffy Munchkin Cats</h2><br />
        <p>В настоящия проект съм ползвал .net версия 7. В допълнение SqlServer<br />
            Проекта е валидиран и тестван, следвайки всички изисквания на задачата -> Fluffy Duffy Munchkin Cats (FDMC)
        </p>
    </div>
</div>
